<p class="mb-5">
  Found <%= pluralize(@games_search.count, 'game') %> when searching for: <%= params[:keywords] %>
</p>
<ul>
  <% @games_search.each do |game|%>
    <li><%= link_to game.game_name, game %> </li>
  <% end %>
</ul>