<h2 class = "title is-2">Platform#index</h2>
<table class = "table">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>
  <% @platforms.each do |platform| %>
    <tr>
      <td><%= link_to platform.platform_name, platform %></td>
    </tr>
  <% end %>
  </tbody>
</table>
  <%= paginate @platforms %>
